<section>
  <h3>Ana are mere</h3>

  <h1 class="volume-8 pad-0">
    <a class="tape-black" href="https://s9a.github.io/tape">tape</a>
  </h1>

  <figure class="m-auto">
    <ul class="list-none m-auto m-down pad-0 block-flex flex-wrap">
      <li class="volume-6 basis-3rd"><span class="block-flow pad-1 tape-white">white</span></li>
      <li class="volume-6 basis-3rd"><span class="block-flow pad-1 tape-yellow">yellow</span></li>
      <li class="volume-6 basis-3rd"><span class="block-flow pad-1 tape-pink">pink</span></li>
      <li class="volume-6 basis-3rd"><span class="block-flow pad-1 tape-blue">blue</span></li>
      <li class="volume-6 basis-3rd"><span class="block-flow pad-1 tape-green">green</span></li>
      <li class="volume-6 basis-3rd"><span class="block-flow pad-1 tape-black">black</span></li>
    </ul>
  </figure>

  <aside class="m-auto m-down pad-0 tape-clean">
    <blockquote class="m-auto">
      <p class="m-auto"><span class="tape-pink volume-3">I said empty your mind<span class="tape-green">.</span></span></p>
      <p class="m-auto"><span class="tape-pink volume-3">Be formless<span class="tape-green">.</span></span></p>
      <p class="m-auto"><span class="tape-pink volume-3">Shapeless<span class="tape-green">.</span></span></p>
      <p class="m-auto m-down"><span class="tape-pink volume-5">Like <a class="tape-green">tape.</a></span></p>
      <p class="m-auto"><span class="tape-blue volume-3">Now you put <b class="tape-yellow mold">tape</b> onto walls...it <em class="mold">becomes</em> the walls<span class="tape-yellow">.</span></span></p>
      <p class="m-auto"><span class="tape-blue volume-3">You put <b class="tape-yellow mold">tape</b> onto floors... it <em class="mold">becomes</em> the floors<span class="tape-yellow">.</span></span></p>
      <p class="m-auto"><span class="tape-blue volume-3">You put it in you, it becomes <em class="mold">yours</em><span class="tape-yellow">.</span></span></p>
      <p class="m-auto"><span class="tape-blue volume-3">Now <b class="tape-yellow mold">tape</b> can flow or it can <em class="mold">shred</em><span class="tape-yellow">.</span></span></p>
      <p class="m-auto"><span class="tape-blue volume-4">Be <b class="tape-yellow mold">tape</b> my friend<span class="tape-yellow">.</span></span></p>
    </blockquote>
  </aside>

  <figure class="m-auto m-down tape-black pad-5">
    <figure class="tape-yellow pad-1 volume-4 m-auto">
      <span class="tape-black">black</span> in yellow
    </figure>
    <figure class="tape-green pad-1 volume-4 m-auto">
      <span class="tape-black">black</span> in green
    </figure>
    <figure class="tape-blue pad-1 volume-4 m-auto">
      <span class="tape-black">black</span> in blue
    </figure>
    <figure class="tape-pink pad-1 volume-4 m-auto">
      <span class="tape-black">black</span> in pink
    </figure>
    <figure class="tape-white pad-1 volume-4 m-auto">
      <span class="tape-black">black</span> in white
    </figure>
    <figure class="tape-black pad-1 volume-4 m-auto">
      <span class="tape-black">black</span> in black
    </figure>
  </figure>

</section>
