@import "public/css/reasonable-colors.css";

:root {
    --secondary-bg: var(--color-azure-1);

    --pad          : 0.6rem;
    --dot-bg-color : hsl(256, 33, 10);
    --dot-dot-color: hsl(256, 33, 70);
    --dot-size     : 1px;
    --dot-space    : 22px;
}


section {
    border-bottom : 1px solid var(--color-gray-2);
    padding-bottom: var(--pad);
}

main {
    background-color: white;
    padding         : var(--pad);
}

header {
    background-color: var(--color-azure-2);
    padding         : var(--pad);

}


/* pattern: https://heropatterns.com/ */
.dotbg {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231e1e1e' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.imgshow {
    width     : 600px;
    min-height: 400px;
}

.item_selected {
    text-decoration: underline;
}

#preview {
    min-height: 8rem;
    padding   : 0.3rem;
}
